*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/bg-pattern-top-desktop.svg') no-repeat, url('./images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
}
.row-1, .row-2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.col-1, .col-2{
    max-width: 450px;
    padding:20px;
}
.col-1 span{
    color: hsl(300, 43%, 22%);
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
}
.col-1 p{
    font-size: 17px;
    letter-spacing: 1px;
    color: hsl(300, 43%, 22%);
    margin-top: 20px;
}
.col-2 .rated{
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    padding: 20px 15px;
    border-radius: 8px;
}
.col-2 span svg{
    margin-right: 8px;
}
.col-2 p{
    font-size: 18px;
    font-weight: 500;
}
.row-2{
    margin-top: 50px;
    position: relative;
}
.row-2 .col{
    max-width: 300px;
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    border-radius: 10px;
}
.row-2 .col .profile{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.profile-image{
    height: 50px;
    width:  50px;
    overflow: hidden;
}
.col .profile img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.profile .profile-name{
    color: #fff;
    margin-top: 10px;
}
.profile .profile-name p{
    color: hsl(333, 80%, 67%);
}
.profile-description{
    color: #fff;
}
.col-second{
    position: relative;
    top: 15px;
}
.col-third{
    position: relative;
    top: 25px;
}
.col-2 .report-guru{
    position: relative;
    left: 25px;
}
.col-2 .best-tech{
    position: relative;
    left: 45px;
}
@media(max-width: 930px){
    .container{
        max-width: 560px;
        margin: auto;
    }
    .row-1{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .row-2{
        flex-direction: column;
        align-items: center;
    }
    .row-2 .col{
        max-width: 576px;
    }
    .col-2 .report-guru{
        left: 0px;
    }
    .col-2 .best-tech{
        left: 0px;
    }
}